# Site 1
SITE1_DB_NAME=changeme
SITE1_DB_USER=changeme
SITE1_DB_PASSWORD=changeme
SITE1_DB_ROOT_PASSWORD=changeme

# Site 2 (not built yet)
#SITE2_DB_NAME=changeme
#SITE2_DB_USER=changeme
#SITE2_DB_PASSWORD=changeme
#SITE2_DB_ROOT_PASSWORD=changeme

# Site 3 (not built yet)
#SITE3_DB_NAME=changeme
#SITE3_DB_USER=changeme
#SITE3_DB_PASSWORD=changeme
#SITE3_DB_ROOT_PASSWORD=changeme
